@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* 
variable is define in root becuase they need to be one of the think that need to exist fist
before anything */
:root {
    --orange: 30 100% 50%; /* bright orange */
    --orange-light: 30 100% 65%; /* lighter version for gradients */
    --border-radius: 1.5rem;
    --1rem: 1rem;
    --0-5rem: 0.5rem;
    --border-solid: 2px solid hsl(30, 94%, 45%);
    --box-shadow: 2px 3px 4px 2px hsla(30, 97%, 15%, 0.233);
}

.cashier-container {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
}

.total-container {
    display: flex;
    position: relative;
    border-bottom: 2px solid hsla(30, 94%, 45%, 0.336);
    color: #fff;
    width: 50%;
    height: 10%;
    left: 2rem;
    top: 23px;
    font-weight: 500;

    background-color: var(--orange);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.total-container div:first-child {
    width: 50%;
    font-size: 1.5rem;
}

.total {
    font-size: 2rem;

    width: 50%;
    padding-left: 35%;
}

.cashier-bg {
    background: radial-gradient(
        circle,
        hsl(var(--orange-light)),
        hsl(var(--orange))
    );
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
}

.footer-navigation {
    position: fixed;
    width: 100%;
    height: 3rem;
    background: hsl(var(--orange));
    border: var(--border-solid);
    box-shadow: inset;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container {
    display: flex;
    width: 65%;
    position: absolute;
    scrollbar-width: none;
    padding: var(--0-5rem) 12px;
    /* background-color: hsla(0, 81%, 51%, 0.247); */
    overflow: auto;
    bottom: 4rem;
    height: 88%;
    /* max-height: 75%; */
    left: 3rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
}

.product-box {
    border: var(--border-solid);
    padding: 0.3rem;
    min-height: 10rem;
    width: 30%;
    margin: 5px;

    background-color: hsl(30, 100%, 53%);
    align-items: center;
    border-radius: var(--border-radius);
}

.selected-container {
    display: grid;
    position: absolute;
    overflow: auto;
    padding: var(--0-5rem);
    width: 27%;
    top: 1rem;
    right: 4rem;
    height: 80%;
    background-color: hsla(120, 1%, 18%, 0.062);
    border-radius: 1rem;
    scrollbar-width: none;
    box-shadow: var(--box-shadow);
}
.order-button {
    position: absolute;
    padding: var(--0-5rem);
    text-align: center;
    width: 27%;
    bottom: 4rem;
    right: 4rem;
    height: 3rem;
    background-color:  hsla(17, 97%, 55%, 0.986);
    border-radius: 1rem;
    scrollbar-width: none;
    box-shadow: var(--box-shadow);
}

.selected-container div {
    margin-top: var(--0-5rem);
}

.selection-box {
    display: flex;
    justify-content: center;
    flex: wrap;
    border: var(--border-solid);
    background-color: hsla(17, 97%, 55%, 0.986);

    padding-left: 0.3rem;
    padding-bottom: 1rem;

    min-height: 10rem;
    width: 100%;
    align-items: center;
    border-radius: var(--border-radius);
}

.inner-product {
    border: var(--border-solid);
    height: 7rem;
    border-radius: var(--border-radius);
    background: #ddd8d8cc;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
}

.inner-product img {
    width: 100%;
    height: auto;
}

.inner-selection {
    border: var(--border-solid);
    height: 100%;
    width: 60%;
    border-radius: 1rem;
    background: #ddd8d8cc;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.inner-selection img {
    width: 100%;
    height: auto;
}

.product-container .product-description {
    margin-top: 0.2rem;
}
.product-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5rem;
    text-align: center;
}
.product-name {
    text-align: center;
    overflow: hidden;
    max-height: 4rem;
    /* max-height is for safety */
}
/* 


.product-quantity {
    display: flex;
    width: 50%;
    right: 0;
    height: 2.5rem;
}
.product-description .price {
    left: 0;
}
.product-description .price {
    right: 0;
} */

.text-variable {
    font-weight: 700;
    color: #fff;
    padding-left: 4px;
    font-size: 1.3rem;
}

.text-title {
    font-weight: 500;
    color: #fff;
    font-size: 1.1rem;
}

.selection-description {
    padding-left: 0.5rem;
    height: 100%;
    width: 40%;
    border-radius: 1rem;
    display: grid;
    overflow: hidden;
}
/* 
.inner-product .inner-product-text {
    position: absolute;
    left: 0;
    top: 70%;
    transform: translate(-50%, -50%); */
/* border: var(--border-solid);
    text-align: center;
    font-weight: 700;
    color: #fa7b05;

    font-size: 1.5rem;
    padding-left: 1rem;
} */
