@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* 
variable is define in root becuase they need to be one of the think that need to exist fist
before anything */
:root {
    --orange: 30 100% 50%; /* bright orange */
    --orange-light: 30 100% 65%; /* lighter version for gradients */
    --border-radius: 1.5rem;
    --1rem: 1rem;
    --0-5rem: 0.5rem;
    --border-solid: 2px solid hsl(30, 94%, 45%);
}

.cashier-container {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
}

.cashier-bg {
    background: radial-gradient(
        circle,
        hsl(var(--orange-light)),
        hsl(var(--orange))
    );
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
}

.footer-navigation {
    position: fixed;
    width: 100%;
    height: 3rem;
    background: hsl(var(--orange));
    border: var(--border-solid);
    box-shadow: inset;
    bottom: 0;
}

.product-container {
    display: flex;
    width: 65%;
    position: absolute;
    scrollbar-width: none;
    padding: var(--0-5rem) 12px;
    background-color: hsla(0, 0%, 100%, 0.247);
    overflow: auto;
    bottom: 5rem;
    height: 75%;
    /* max-height: 75%; */
    left: 1.5rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
}

.selected-container {
    display: grid;
    position: absolute;
    overflow: auto;
    padding: var(--0-5rem);
    width: 30%;
    bottom: 5rem;
    right: 1.5rem;
    height: 75%;
    background-color: hsla(120, 1%, 18%, 0.062);
    border-radius: var(--border-radius);
    scrollbar-width: none;
}

.selected-container div {
    margin-top: var(--0-5rem);
}

.product-box {
    border: var(--border-solid);
    padding: 1rem;
    min-height: 12rem;
    width: 12rem;
    margin: 5px;
  
    background-color:hsl(61, 87%, 49%);
    align-items: center;
    border-radius: var(--border-radius);
}

.selection-box {
    border: var(--border-solid);
    background-color:hsl(24, 73%, 42%);

    padding: 1rem;
    min-height: 100px;
    width: 100%;
    align-items: center;
    border-radius: var(--border-radius);
}
