@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* 
variable is define in root becuase they need to be one of the think that need to exist fist
before anything */
:root {
    --orange: 30 100% 50%; /* bright orange */
    --orange-light: 30 100% 65%; /* lighter version for gradients */
}
/* 
.cashier-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: blue;
    justify-content: center;
    flex-wrap: wrap;
} */

.cashier-bg {
    background: radial-gradient(
        circle,
        hsl(var(--orange-light)),
        hsl(var(--orange))
    );
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
}

.footer-navigation {
    position: fixed;
    width: 100%;
    height: 3rem;
    background: hsl(var(--orange));
    border: 2px solid hsl(30, 94%, 45%);
    box-shadow: inset;
    bottom: 0;
}

.product-container {
    display: flex;
    width: 65%;
    position: absolute;
    left: 0;
    
    bottom: 5rem;
    margin-left: 1.5rem;
    height: 75%;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 4px solid;
}

.selected-container {
    display: flex;
    position: absolute;

    width: 30%;
    bottom: 5rem;
    padding-right: 1.5rem;
    right: 0;
    height: 75%;
    background-color: rgb(0, 255, 21);
    /* justify-content: center;
    align-items: center; */
}

.product-card {
    width: 30px;
    border: 3px solid blue;
    padding: 50px;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    height: 40px;
    width: 40px;
    align-items: center;
}
