@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* 
variable is define in root becuase they need to be one of the think that need to exist fist
before anything */
:root{
--orange: 30 100% 50%; /* bright orange */
--orange-light: 30 100% 65%; /* lighter version for gradients */
}

.cashier-bg{
    background: radial-gradient(circle,  hsl(var(--orange-light)),hsl(var(--orange)));
}

.footer-navigation{
    position: fixed;
    width: 100%;
    height: 3rem;
    background: hsl(var(--orange));
    border: 2px solid hsl(30, 94%, 45%); 
    box-shadow: inset;
    bottom: 0;
}