@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* 
variable is define in root becuase they need to be one of the think that need to exist fist
before anything */
:root {
    --orange: 30 100% 50%; /* bright orange */
    --orange-light: 30 100% 65%; /* lighter version for gradients */
    --border-radius: 1.5rem;
    --1rem: 1rem;
    --0-5rem: 0.5rem;
    --border-solid: 2px solid hsl(30, 94%, 45%);
    --box-shadow:2px 3px 4px 2px hsla(30, 97%, 15%, 0.233);
}

.cashier-container {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
}

.total-container{
    position: relative;
    border-bottom: 2px solid hsla(30, 94%, 45%, 0.336);
    font-weight: 500;
    color: #fff;
    width: 50%;
    height: 10%;
    top: 23px;
    left: 2rem;
    font-size: 2rem;
    background-color: var(--orange);
}

.cashier-bg {
    background: radial-gradient(
        circle,
        hsl(var(--orange-light)),
        hsl(var(--orange))
    );
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
}

.footer-navigation {
    position: fixed;
    width: 100%;
    height: 3rem;
    background: hsl(var(--orange));
    border: var(--border-solid);
    box-shadow: inset;
    bottom: 0;
}

.product-container {
    display: flex;
    width: 60%;
    position: absolute;
    scrollbar-width: none;
    padding: var(--0-5rem) 12px;
    /* background-color: hsla(0, 81%, 51%, 0.247); */
    overflow: auto;
    bottom: 4rem;
    height: 75%;
    /* max-height: 75%; */
    left: 3rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
}

.product-box {
    border: var(--border-solid);
    padding: 1rem;
    min-height: 10rem;
    width: 30%;
    margin: 5px;
  
    background-color:hsl(61, 87%, 49%);
    align-items: center;
    border-radius: var(--border-radius);
}


.selected-container {
    display: grid;
    position: absolute;
    overflow: auto;
    padding: var(--0-5rem);
    width: 32%;
    bottom: 4rem;
    right: 4rem;
    height: 75%;
    background-color: hsla(120, 1%, 18%, 0.062);
    border-radius: var(--border-radius);
    scrollbar-width: none;
    box-shadow: var(--box-shadow);
}

.selected-container div {
    margin-top: var(--0-5rem);
}

.selection-box {
    border: var(--border-solid);
    background-color:hsl(66, 86%, 46%);

    padding: 1rem;
    min-height: 10rem;
    width: 100%;
    align-items: center;
    border-radius: var(--border-radius);
}
