@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* 
variable is define in root becuase they need to be one of the think that need to exist fist
before anything */
:root {
    --orange: 30 100% 50%; /* bright orange */
    --orange-light: 30 100% 65%; /* lighter version for gradients */
    --border-radius: 1.5rem;
}

.cashier-container {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
}

.cashier-bg {
    background: radial-gradient(
        circle,
        hsl(var(--orange-light)),
        hsl(var(--orange))
    );
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
}

.footer-navigation {
    position: fixed;
    width: 100%;
    height: 3rem;
    background: hsl(var(--orange));
    border: 2px solid hsl(30, 94%, 45%);
    box-shadow: inset;
    bottom: 0;
}

.product-container {
    display: flex;
    width: 65%;
    position: absolute;
    scrollbar-width: none;

    overflow: auto;
    bottom: 5rem;
    height: 75%;
    left: 1.5rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 4px solid;
    border-radius: var(--border-radius);
}

.product-container div{
    margin-top: 1rem;
}

.selected-container {
    display: grid;
    position: absolute;
    overflow: auto;
    width: 30%;
    bottom: 5rem;
    right: 1.5rem;
    height: 75%;
    background-color: rgb(0, 255, 21);
    border-radius: var(--border-radius);
    scrollbar-width: none;
    /* justify-content: space-between;
    align-items: center; */
    /* flex-wrap: wrap; */
}

.selected-container  div{
    margin-top: 1rem;
}

.product-card {
    width: 30px;
    border: 3px solid blue;
    padding: 50px;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    height: 40px;
    width: 40px;
    align-items: center;
}
