@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


:root{
--orange: 30 100% 50%; /* bright orange */
--orange-light: 30 100% 65%; /* lighter version for gradients */
}

.cashier-bg{
    background: radial-gradient(circle,  hsl(var(--orange-light)),hsl(var(--orange)));
}

